<mat-accordion multi="true">
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Match Information
            </mat-panel-title>
            <mat-panel-description>
                Insert Match Information 
            </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Select Event -->
        <mat-form-field>
            <mat-label>Event</mat-label>
            <mat-select>
                <mat-option *ngFor="let event of events" [value]="event">
                  {{event}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Select Team Number -->
        <mat-form-field>
            <mat-label>Team Number</mat-label>
            <mat-select>
                <mat-option *ngFor="let team of teams" [value]="team">
                  {{team}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Select Match Number -->
        <mat-form-field>
            <mat-label>Match Number</mat-label>
            <mat-select>
                <mat-option *ngFor="let match of matches" [value]="match">
                  {{match}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Autonomous
            </mat-panel-title>
            <mat-panel-description>
                Insert Autonomous Scouting Information 
            </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Select Number of Balls Scored in Auto-->
        <mat-form-field>
            <mat-label>Number of Balls Scored</mat-label>
            <mat-select>
                <mat-option *ngFor= "let ball of balls" [value]="ball">
                    {{ball}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Text Description of Auto -->
        <mat-form-field>
            <textarea matInput placeholder = "Description of Auto"></textarea>
        </mat-form-field>
    </mat-expansion-panel>
    
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tele-Op
            </mat-panel-title>
            <mat-panel-description>
                Insert Tele-Op Information 
            </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Offense -->
        <mat-card>
            <mat-card-title>Offense</mat-card-title>
            <br />
            <mat-card-content>
                <!-- Cycles -->
                <mat-card>
                    <mat-card-title>Cycles</mat-card-title>
                    <br />
                </mat-card>

                <!-- Control Panel -->
                <mat-card>
                    <mat-card-title>Control Panel</mat-card-title>
                    <mat-checkbox>Stage 1 Complete</mat-checkbox>
                    <br />
                    <mat-checkbox>Stage 2 Complete</mat-checkbox>
                    <br />
                </mat-card>

                <!-- Climb -->
                <mat-card>
                    <mat-card-title>Climb</mat-card-title>
                    <mat-form-field>
                        <mat-label>Climb Type</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let climb of climbs" [value]="climb">
                                {{climb}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card>

                <!-- Balance -->
                <mat-card>
                    <mat-card-title>Balance</mat-card-title>
                    <label id = "balance-radio-label">Balanced?</label><br />
                    <mat-radio-group aria-labelby="balance-radio-label">
                        <mat-radio-button value = "1">Yes</mat-radio-button>
                        <mat-radio-button value = "2">No</mat-radio-button>
                    </mat-radio-group>
                    <br />
                </mat-card>
            </mat-card-content>
        </mat-card>
        
        <!-- Defense -->
        <mat-card>
            <mat-card-title>Defense</mat-card-title>
            <br />
            <mat-card-content>
                <!-- Robot to robot interactions -->
                <mat-card>
                    <mat-card-title>Number of Robot to Robot Interactions</mat-card-title>
                    <br />
                    <mat-form-field>
                        <textarea matInput placeholder = "Enter a Number"></textarea>
                    </mat-form-field>
                </mat-card>

                <!--Fouls Incurred-->
                <mat-card>
                    <mat-card-title>Fouls Incurred</mat-card-title>
                    <br />
                    <mat-form-field>
                        <textarea matInput placeholder = "Enter a Number"></textarea>
                    </mat-form-field>
                </mat-card>

                <!--Tech Fouls Incurred-->
                <mat-card>
                    <mat-card-title>Tech Fouls Incurred</mat-card-title>
                    <br />
                    <mat-form-field>
                        <textarea matInput placeholder = "Enter a Number"></textarea>
                    </mat-form-field>
                </mat-card>
            </mat-card-content>
        </mat-card>

    </mat-expansion-panel>
</mat-accordion>