<mat-accordion multi="true">
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Team Information
            </mat-panel-title>
            <mat-panel-description>
                Insert Team Information (Team #, Team Name, Pics, etc.)
            </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Select Event -->
        <mat-form-field>
            <mat-label>Event</mat-label>
            <mat-select>
                <mat-option *ngFor="let event of events" [value]="event">
                  {{event}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Select Team Number -->
        <mat-form-field>
            <mat-label>Team Number</mat-label>
            <mat-select>
                <mat-option *ngFor="let team of teams" [value]="team">
                  {{team}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Autopopulate team name once team number is selected -->
        <mat-form-field>
            <input matInput placeholder="Team Name" value="Dragon Robotics">
        </mat-form-field>
        <br/>

        <!-- Insert Team Picture -->

    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
        <mat-panel-title>
            Robot Information
        </mat-panel-title>
        <mat-panel-description>
            Insert Robot Information (Robot Mechanisms, Robot Picture, Pics, etc.)
        </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card>
            <mat-card-title>DriveTrain Mechanism</mat-card-title>
            <mat-card-content>
                <!-- Drivetrain -->
                <mat-form-field>
                    <mat-label>Drivetrain Type</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let driveTrain of driveTrains" [value]="driveTrain">
                            {{driveTrain}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br/>

                <!-- Gearbox -->
                <mat-form-field>
                    <mat-label>Gearbox Type</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let gearbox of gearboxes" [value]="gearbox">
                            {{gearbox}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br/>

                <!-- Motor -->
                <mat-form-field>
                    <mat-label>Motor Type</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let motor of motors" [value]="motor">
                            {{motor}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="# of Motors">
                </mat-form-field>
                <br/>

                <!-- Wheel -->
                <mat-form-field>
                    <mat-label>Wheel Type</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let wheel of wheels" [value]="wheel">
                            {{wheel}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="# of Wheels">
                </mat-form-field>
                <br/>

                <mat-form-field>
                    <textarea matInput placeholder="Additional Details"></textarea>
                </mat-form-field>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Power Cell Interaction Mechanism</mat-card-title>
            <mat-card-content>
                <mat-radio-group aria-label="Do they have a power cell mechanism?">
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
                <br/>
                <!-- Intake -->
                <mat-card>
                    <mat-card-title>Intake</mat-card-title>
                    <mat-card-content>
                        <mat-form-field>
                            <mat-label>Intake Type</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let intake of intakes" [value]="intake">
                                    {{intake}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br/>
                        <mat-form-field>
                            <textarea matInput placeholder="Description of Intake"></textarea>
                        </mat-form-field>
                        <!-- Insert picture of intake -->
                    </mat-card-content>
                </mat-card>
                <!-- Indexer / Cargo Delivery System -->
                <mat-card>
                    <mat-card-title>Indexer</mat-card-title>
                    <mat-card-content>
                        <label id="power-cell-counter-radio-label">Power Cell Counter?</label><br/>
                        <mat-radio-group aria-labelby="power-cell-counter-radio-label">
                            <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                        <br/>
                        <mat-form-field>
                          <textarea matInput placeholder="Description of Indexer"></textarea>
                        </mat-form-field>
                        <!-- Insert picture of indexer -->
                    </mat-card-content>
                </mat-card>
                <!-- Shooter -->
                <mat-card>
                    <mat-card-title>Shooter</mat-card-title>
                    <mat-card-content>
                        <label id="high-low-goal-radio-label">High / Low Goal?</label><br />
                        <mat-radio-group aria-labelby="power-cell-counter-radio-label">
                          <mat-radio-button value="1">High</mat-radio-button>
                          <mat-radio-button value="2">Low</mat-radio-button>
                        </mat-radio-group>
                        <br /><br />
                        <label id="high-low-goal-radio-label">Single / Multiple Power Cell?</label><br />
                        <mat-radio-group aria-labelby="power-cell-counter-radio-label">
                          <mat-radio-button value="1">Single</mat-radio-button>
                          <mat-radio-button value="2">Multiple</mat-radio-button>
                        </mat-radio-group>
                        <br />
                        <mat-form-field>
                          <textarea matInput placeholder="Description of Shooter"></textarea>
                        </mat-form-field>
                        <!-- Insert picture of shooter -->
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Climbing Mechanism</mat-card-title>
            <mat-card-content>
                <mat-radio-group aria-label="Do they have a climbing mechanism?">
                  <mat-radio-button value="1">Yes</mat-radio-button>
                  <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>

                <mat-card>
                  <mat-card-title>Deployment</mat-card-title>
                  <mat-card-content></mat-card-content>
                </mat-card>

                <mat-card>
                  <mat-card-title>Acquisition</mat-card-title>
                  <mat-card-content></mat-card-content>
                </mat-card>

                <mat-card>
                  <mat-card-title>Climb & Maintain Climb</mat-card-title>
                  <mat-card-content></mat-card-content>
                </mat-card>

                <mat-card>
                  <mat-card-title>Auto-balancing</mat-card-title>
                  <mat-card-content></mat-card-content>
                </mat-card>

                <mat-card>
                  <mat-card-title>Buddy Climb</mat-card-title>
                  <mat-card-content></mat-card-content>
                </mat-card>

            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Control Panel Interaction Mechanism</mat-card-title>
            <mat-card-content>
              <mat-radio-group aria-label="Do they have a control panel mechanism?">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </mat-card-content>

            <mat-card>
              <mat-card-title>Rotation</mat-card-title>
              <mat-card-content></mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-title>Color Sensing</mat-card-title>
              <mat-card-content></mat-card-content>
            </mat-card>
        </mat-card>

        <mat-card>
          <mat-card-title>Additional Information</mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <input matInput placeholder="Robot Length" value="">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Robot Width" value="">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Robot Height" value="">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Robot Weight" value="">
            </mat-form-field>
          </mat-card-content>
        </mat-card>

    </mat-expansion-panel>
</mat-accordion>
